bin/
obj/
.vs/
.idea/
*.user
*.suo
MovieCollection.sqlite
appsettings.Development.json
appsettings.json
*.sqlite-wal
*.sqlite-shm
*.sqlite.bak
# Local DB & appsettings
JoelHiltonMovieCollection.sqlite
MovieCollection_backup.sqlite

